@import '~@angular/material/theming';

h1 {
  color: #465a65;
}
p {
  margin-top: 32px;
}
p::first-letter {
  float: left;
  font-size: 3.15em;
  margin-right: 10px;
  line-height: 1;
}
.school {
  height: 180px;
  width: 180px;
  border-radius: 16px;
  @include mat-elevation(5);
}
