@import '@angular/material/theming';
hero {
  background-size: cover;
}
h1 {
  color: #465a65;
}
p {
  margin-top: 32px;
}

.school {
  height: 180px;
  width: 180px;
  border-radius: 16px;
  @include mat-elevation(5);
}
