:host {
  display: block;
}


.hero {
  background-size: cover;
  transform: skew(3deg, 3deg);
}

h1 {
  color: #465a65;
}

.logo{
  max-width: 120px
}
.team{
  max-width: 550px;
  float: right;
  margin-left: 32px;
}

.arrow{
  position: absolute;
  top: -27px;
  right: 367px;
  font-size: 14px;
  color: #555;
}

.overview {
  max-width: 500px;
  margin: 0 auto 4rem;
}


.mat-card-avatar{
  border-radius: 0;
}

.example-header-image {
  background-image: url('../../assets/cutcal.png');
  background-size: cover;
}
.under-armour{
  background-image: url('../../assets/under-armour.svg');
  background-size: cover;
}


.tip{
  color: #3f51b5;
  font-weight: 500;
  text-decoration: none;
}

.mat-icon{
  margin-right: 8px;
}
