:host {
  margin: 16px;
  display: block;
}
@media only screen and (min-width: 600px) {
  :host {
    margin: 32px;
  }
}
.hyphens{
  margin: 0;
  color: #505160;
}
.link{
  cursor: pointer;
  margin-right: 8px;
}
.link img{
  height: 40px;
  width: 40px;
}


