<ais-instantsearch [config]="config" class="ais-instantsearch mat-elevation-z6">
    <header class="top-menu" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="icon-box">
            <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
        </div>
        <div class="icon-box">
            <mat-icon aria-hidden="false" aria-label="setting"
                >settings</mat-icon
            >
        </div>
        <div class="icon-box">
            <mat-icon aria-hidden="false" aria-label="grocery list"
                >shopping_basket</mat-icon
            >
        </div>
        <div class="icon-box">
            <mat-icon aria-hidden="false" aria-label="profile"
                >account_circle</mat-icon
            >
        </div>
    </header>
    <div class="search-menu mat-elevation-z4">
        <div class="top-search-controls" fxLayout="row">
            <mat-icon
                aria-hidden="false"
                aria-label="undo"
                style="margin-right: 16px;"
                >undo</mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="redo">redo</mat-icon>
            <span fxFlex></span>
            <mat-icon aria-hidden="false" aria-label="more options"
                >more_horiz</mat-icon
            >
        </div>
        <ais-search-box></ais-search-box>
        <button
            class="lists-expander"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <mat-icon aria-hidden="true" style="margin-right: 8px;"
                >list</mat-icon
            >
            <span class="list-name">Search Results</span>
            <span fxFlex></span>
            <mat-icon aria-hidden="true">arrow_drop_down</mat-icon>
        </button>
    </div>

    <div class="scrollbox">
        <div class="item-controls">
            <mat-icon aria-hidden="true" style="margin-right: 8px;"
                >remove_circle_outline</mat-icon
            >
            <span>0 items selected</span>
            <span fxFlex></span>
            <mat-icon aria-hidden="true">filter_alt</mat-icon>
        </div>
        <!-- <ais-stats> <ng-template let-state="state">{{state.nbHits}} results found in {{state.processingTimeMS}}ms.</ng-template> </ais-stats> -->
        <ais-hits>
            <ng-template let-hits="hits">
                <div
                    class="listbox"
                    role="listbox"
                    fxLayout="column"
                    cdkDropListGroup
                >
                    <div
                        cdkDropList
                        class="item mat-elevation-z6"
                        [cdkDropListData]="i"
                        role="option"
                        *ngFor="let hit of hits; let i = index;"
                        fxLayout="row"
                    >
                        <span
                            style="width: 100%; max-width: 268px;"
                            cdkDrag
                            [cdkDragData]="i"
                        >
                            <!-- hack to fix bug with cdk dnd -->
                            <img
                                *cdkDragPreview
                                class="drag-image"
                                [src]="hit.img_src"
                                [alt]="hit.name"
                            />
                            <img
                                loading="lazy"
                                [attr.src]="hit.img_src"
                                [attr.alt]="hit.name"
                            />
                            <div class="item-text" fxLayout="column" fxFlex>
                                <ais-highlight
                                    class="name"
                                    attribute="name"
                                    [hit]="hit"
                                ></ais-highlight>
                                <span class="portion"
                                    >{{hit.amount}} {{hit.unit}}
                                </span>
                            </div>
                            <div
                                class="drag-handle"
                                matTooltip="Drag and Drop {{hit.name}}"
                                matTooltipPosition="left"
                            >
                                <mat-icon aria-hidden="true"
                                    >drag_indicator</mat-icon
                                >
                            </div>
                            <!-- <ais-highlight attribute="description" [hit]="hit"></ais-highlight> -->
                        </span>
                    </div>
                </div>
            </ng-template>
        </ais-hits>
        <div class="no-more-items">
            No other foods match your search Try <button>Filtering</button>
        </div>
        <!-- <ais-pagination></ais-pagination> -->
    </div>
</ais-instantsearch>
<!-- 
<div class="recipe mat-elevation-z4">
    <div
        class="meal-controls"
        fxLayout="row"
        fxLayoutAlign="center space-between"
    >
        <mat-icon aria-hidden="false" aria-label="setting"
            >bar_chartchart</mat-icon
        >
        <div fxFlex></div>
        <mat-icon aria-hidden="false" aria-label="setting">close</mat-icon>
    </div>
    <input class="meal-name top-margin" value="Breakfast" />
    <div
        class="date-time top-margin"
        fxLayout="row"
        fxLayoutAlign="center space-between"
    >
        <input value="15 September" />
        <div style="width: 16px; height: 30px;"></div>
        <input value="9:00 am" />
    </div>
    <div
        class="image-icons top-margin"
        fxLayout="row"
        fxLayoutAlign="start space-between"
    >
        <img
            class="main-image"
            src="https://graphicriver.img.customer.envatousercontent.com/files/111428667/pv_590.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=590&s=d7c291932872ff6fd123b689c3c6e845"
        />
        <div class="icons" fxLayout="column">
            <button class="icon-button">
                <mat-icon aria-hidden="false" aria-label="setting"
                    >more_horiz</mat-icon
                >
            </button>
            <button class="icon-button">
                <mat-icon aria-hidden="false" aria-label="setting"
                    >how_to_vote</mat-icon
                >
            </button>
            <button class="icon-button">
                <mat-icon aria-hidden="false" aria-label="setting"
                    >save</mat-icon
                >
            </button>
            <button class="icon-button">
                <mat-icon aria-hidden="false" aria-label="setting"
                    >favorite_border</mat-icon
                >
            </button>
        </div>
    </div>
    <div class="ingredients">
        <div
            class="ingredients-header"
            fxLayout="row"
            fxLayoutAlign="center space-between"
        >
            <div>Ingredients</div>
            <div fxFlex></div>
            <mat-icon aria-hidden="false" aria-label="setting"
                >list_alt</mat-icon
            >
        </div>
        <div
            class="ingredient top-margin mat-elevation-z4"
            fxLayout="row"
            *ngFor="let i of ingredients"
        >
            <div class="ingredient-info" fxLayout="column">
                <div class="ingredient-metadata" fxLayout="row">
                    <img class="ingredient-image" [attr.src]="i.imgSrc" />
                    <div
                        class="ingredient-text"
                        fxLayout="column"
                        fxFlex="1 1 166px"
                    >
                        <div class="name">{{i.name}}</div>
                        <div class="portion">{{i.portion}}</div>
                    </div>
                </div>
                <div class="slider-area">
                    <div class="slider-bar"></div>
                    <div class="slider-bar-filled"></div>
                    <div class="slider-handle mat-elevation-z4"></div>
                </div>
            </div>
            <div class="ingredient-controls">
                <div class="drag-signifier">
                    <mat-icon aria-hidden="true">drag_indicator</mat-icon>
                </div>
                <mat-icon aria-hidden="true">arrow_drop_down</mat-icon>
            </div>
        </div>

        <div class="drop-signifier top-margin">Drop foods here</div>
    </div>
    <mat-form-field class="notes top-margin">
        <mat-label>Notes</mat-label>
        <textarea matInput cdkTextareaAutosize name="notes">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea
        >
    </mat-form-field>
    <button class="delete-meal-btn top-margin">Hold to Delete Breakfast</button>
</div>

<div class="calendar-area" fxLayout="column" fxFlex>
    <div class="calendar-nav">
        <div class="date-picker">
            <h2>November</h2>
            <div class="year">2020</div>
        </div>
        <div class="direction-controls" fxLayout="row" fxLayoutGap="32px">
            <mat-icon aria-hidden="false" aria-label="previous month"
                >chevron_left</mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="next month"
                >chevron_right</mat-icon
            >
        </div>
        <span fxFlex></span>
        <div class="other-data-controls" fxLayout="row" fxLayoutGap="32px">
            <mat-icon aria-hidden="false" aria-label="previous month"
                >bar_chart</mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="previous month"
                >today</mat-icon
            >
        </div>
        <button mat-button class="timeframe-picker" [matMenuTriggerFor]="menu">
            Month
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Month</button>
            <button mat-menu-item>Week</button>
            <button mat-menu-item>Day</button>
        </mat-menu>
    </div>
    <div class="calendar">
        <div class="weekdays" fxLayout="row">
            <div fxFlex="1 1 14.2857" class="weekday">Sun</div>
            <div fxFlex="1 1 14.2857" class="weekday">Mon</div>
            <div fxFlex="1 1 14.2857" class="weekday">Tue</div>
            <div fxFlex="1 1 14.2857" class="weekday">Wed</div>
            <div fxFlex="1 1 14.2857" class="weekday">Thu</div>
            <div fxFlex="1 1 14.2857" class="weekday">Fri</div>
            <div fxFlex="1 1 14.2857" class="weekday">Sat</div>
        </div>
        <div class="days" fxLayout="row wrap">
            <button
                class="day"
                fxFlex="1 1 14.2857"
                *ngFor="let day of days"
                fxLayout="column"
                fxLayoutAlign="start center"
            >
                <div class="day-label">{{day}}</div>
            </button>
        </div>
    </div>
</div> -->

<!-- <div fxFlex="250px"> -->
<!-- <ais-current-refinements></ais-current-refinements> -->
<!-- <h2>Brands</h2> -->
<!-- <ais-refinement-list attribute="brand"></ais-refinement-list> -->
<!-- <ais-configure
        [searchParameters]="{ hitsPerPage: 8 }"
    ></ais-configure> -->

<!-- <hr /> -->
<!-- <ais-menu
        attribute="categories"
        [limit]="6"
        [showMoreLimit]="10"
    ></ais-menu> -->

<!-- <ais-sort-by [items]="sortItems"></ais-sort-by> -->
<!-- </div> -->
