@import "./config";
@import 'palette';

.timepicker-dial {
  &__item {
    cursor: pointer;
    color: $theme-A-2;
    font-family: $primary-font-family;

    &_active {
      color: $theme-A-3;
      background-color: rgba(0, 0, 0, 0.07);
    }
  }
}
