
.hero {
  background-size: cover;
}

h1 {
  color: #5a699c;
}

.mat-card-header {
  color: #5a699c;
}

.mat-card-avatar {
  border-radius: 0;
}

.add-margin {
  margin-left: 4px;
}

@media only screen and (min-width: 600px) {
}
.goto {
  color: #fff;
  background: #5a699c;
}

object {
  width:100%;
  height:100%;
}
