@import '@angular/material/theming';

.hero {
  background-size: cover;
}
h1 {
  color: #465a65;
}
h2 {
  text-align: center;
}

img {
  @include mat-elevation(5);
}

.centered-image {
  max-width: 600px;
  margin: 2.5rem auto;
  display: block;
}
