:host {
  margin: 16px;
  display: block;
}
.process{
  width: 100%;
  float: left;
}
@media only screen and (min-width: 600px) {
  
  :host {
    margin: 32px;
  }
  .process{
    max-width: 300px;
    margin: 0 32px 32px 0;
  }
}
