/* You can add global styles to this file, and also import other style files */
$font: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
html, 
body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.spacer {
  flex: 1 1 auto;
}
p{
  color: #505160;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  &::first-letter:not(.no-first-letter) {
    font-size: 200%;
    color: #3f51b5;
    font-weight: 500;
    font-family: Palatino, URW Palladio L, serif;
  }
}
img {
  width: 100%;
  height: auto;
}

section:not(:first-child){
  margin: 64px 0;
}
body
section .mat-icon{
  color: #333
}

section a{
  color: #3f51b5;
  font-weight: 500;
  text-decoration: none;
}

h2 {
  font-family: $font;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  color: #505160;
  margin: 8px 0;
}
h3{
  font-family: $font;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #505160;
  clear: both;
  margin-bottom: 0;
}
h4{
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #666;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0;
}
