@import 'palette';

/* Default variables */
$primary-color: $theme-A-3;

/* For ie only */
$body-background-color: #fff;
$primary-font-family: $font;
$button-color: $primary-color;

$dial-active-color: #fff;
$dial-inactive-color: transparentize($dial-active-color, 0.5);
$dial-background-color: $primary-color;

$clock-face-background-color: #f0f0f0;
$clock-hand-color: deepskyblue;

$dial-control-size: 32px;
