
.mat-toolbar .mat-icon {
  color: #fff;
}
.mat-drawer-container{
  height: calc(100% - 64px);
}
.mat-drawer{
  width: 290px
}

.header-img{
  height: 45px;
  width: 45px;
}
h1{
  font: 500 26px/32px Roboto,"Helvetica Neue",sans-serif;
}
